<h1 mat-dialog-title>Edit Issue</h1>
<hr>
<div mat-dialog-content>
	<form role="form" name="form" #f="ngForm">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label required">{{selectedIssue}}</label>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>farmer_issue</label>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label required">Description</label>
					<input  type="text" id="AddonName"  name="ratePlan" required class="form-control" [(ngModel)]="description"
                        placeholder="Enter Value"/>
				</div>
			</div>
		</div>


		<h6>Attachment</h6>
		<div class="row">
			<div class="col-md-9 col-lg-9">
				<mat-chip-list aria-label="Fish selection">
					<mat-chip>File.docx</mat-chip>
					<mat-chip> File.docx</mat-chip>
					<mat-chip> File.docx</mat-chip>
				</mat-chip-list>
			</div>
			<div class="col-md-3">
				<span class="float-right"><i class="fa fa-plus" aria-hidden="true"></i></span>
			</div>
		</div>

		
<br>
		<div class="row">
			<div class="col-md-12">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="heading-2">
							<h5 class="mb-0">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
									aria-expanded="false" aria-controls="collapse-2">
									Problems Faced
								</a>
							</h5>
						</div>
						<div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label required">Description</label>
											<input  type="text" id="AddonName" name="ratePlan" class="form-control" [(ngModel)]="problemsFaced"
                        placeholder="Enter Here" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading-3">
							<h5 class="mb-0">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
									aria-expanded="false" aria-controls="collapse-3">
									Solution Proposed
								</a>
							</h5>
						</div>
						<div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label required">Solution Proposed</label>
											<input  type="text" id="AddonName"  name="ratePlan" class="form-control" [(ngModel)]="solutionProposed"
                        placeholder="Enter Here" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<br>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label required">Amount Required($)</label>
					<input  type="text" id="AddonName" name="ratePlan" class="form-control" [(ngModel)]="amtReq"
                        placeholder="Enter Here" />
				</div>
			</div>
		</div>
		<!-- <button type="submit" class="btn btn-default ">Save</button> -->
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="editIssue()">Edit</button>
</div>