<div class="donate">
    <div class="donate-black">
      <h2><span>$</span> Donate</h2>
      <p>Your contribution is vital to the success of our initiative.<br>Choose the amount you wish to donate. </p>
    </div>
    <div class="donate-blue">
      <h3>Donation amount*</h3>
      <div class="donate-amount-box">
        <div class="donate-amount">
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
              background: red;  color: #fff ;" (click)=setAmount(5)>5$</button>
          </div>
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
              background: red;  color: #fff ;" (click)=setAmount(10)>10$</button>
          </div>
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
              background: red;  color: #fff ;" (click)=setAmount(15)>15$</button>
          </div>
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
              background: red;  color: #fff ;" (click)=setAmount(20)>20$</button>
          </div>
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
              background: red;  color: #fff ;" (click)=setAmount(50)>50$</button>
          </div>
          <div class="denomination">
              <button mat-raised-button color="" style="   width: 5em; 
               background: red;  color: #fff ;" (click)=setAmount(100)>100$</button>
          </div>
        </div>
        <div class="denomination-other">
            <input autocomplete="off" type="text" name="amount" [(ngModel)]="donateAmount" placeholder="Enter Other Amount" >
          </div>
      </div>
    </div>
    <div class="donate-blue donate-payment">
      
      <div class="donate-submit">
        <button type="submit" autocomplete="off" (click)=donate;onNoClick()>Donate ${{donateAmount}} </button>
        <p><small>Please note that contributions are not tax-deductible.</small></p>
      </div>
    </div>
  </div>