
<h1>Donor Dashboard</h1>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="fa-stack fa-sm float-right">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-edit fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-sm float-right">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-plus fa-stack-1x"></i>
                </span>
            </div>
        </div>
        <div class="row" style=" border: 1px solid lightgray; ">
            <div class="col-md-12">
                <h5 class>Issues by Status</h5>
                <span class="d-inline">{{username}}</span>
                <span class="fa-stack fa-sm float-right" style=" margin-top: -2em; ">
                    <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
                    <i class="fa fa-cog fa-stack-1x"></i>
                </span>
    
    
            </div>
    
            <div class="col-md-3" style=" padding: 2em; ">
                <h1 style="border-right: 1px solid lightgray;margin-left: 0.7em;font-size: 7em; color: rgb(129, 190, 5);">6</h1>
                <button mat-raised-button color="" style=" width: 10em;
                    margin-left: 4em; background:rgb(129, 190, 5);  color: #fff;">Open</button>
            </div>
    
            <div class="col-md-3" style=" padding: 2em; ">
                <h1 style="border-right: 1px solid lightgray;margin-left: 0.7em;font-size: 7em; color:tomato;">6</h1>
                <button mat-raised-button color="" style=" width: 10em;
                        margin-left: 4em; background: #ea4c03;  color: #fff;">Closed</button>
            </div>
        </div>
        <div class="row mt-3">
                <div class="col-md-6">
                   <div class="col-md-12" style=" margin-left: -19px; border: 1px solid lightgray; ">
                        <h5 class>Issues by Status</h5>
                        <span class="d-inline">{{username}}</span>
                        <span class="fa-stack fa-sm float-right" style=" margin-top: -2em; ">
                            <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
                            <i class="fa fa-cog fa-stack-1x"></i>
                        </span>
    
    
                        <app-pie-chart></app-pie-chart>
                   </div>
                </div>
                <div class="col-md-6">
                        
                   <div class="col-md-12" style=" margin-left: 19px; border: 1px solid lightgray; ">
                        <h5 class>Issues by Status</h5>
                        <span class="d-inline">{{username}}</span>
                        <span class="fa-stack fa-sm float-right" style=" margin-top: -2em; ">
                            <!-- <i class="fa fa-circle-thin fa-stack-2x"></i> -->
                            <i class="fa fa-cog fa-stack-1x"></i>
                        </span>
                     
    
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style=" width: -webkit-fill-available; ">
    
                                        <!--- Note that these columns can be defined in any order.
                                              The actual rendered columns are set as a property on the row definition" -->
                                      
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="Id">
                                          <th mat-header-cell *matHeaderCellDef> No. </th>
                                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                        </ng-container>
                                      
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Task Name">
                                          <th mat-header-cell *matHeaderCellDef> Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                      
                                      
                                      
                                         <!-- Symbol Column -->
                                        <ng-container matColumnDef="Due At">
                                          <th mat-header-cell *matHeaderCellDef> Start Date </th>
                                          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                                        </ng-container>
                                      
                                         <!-- Symbol Column -->
                                        <ng-container matColumnDef="Status" >
                                          <th mat-header-cell *matHeaderCellDef > Status </th>
                                          <td mat-cell *matCellDef="let element" style=" width: 30%; "> {{element.status}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                      </table>
                   </div>
                </div>
              </div>
    </div>