<!-- <mat-sidenav position="end" #sidenav [mode]="over"
	[ngClass]="{'customWidth1' : conditionFlag, 'customWidth2' : !conditionFlag }">
	<div class="row">
		<div [ngClass]="{'col-md-12' : conditionFlag, 'col-md-5' : !conditionFlag }">
			<div class="row">
				<div class="col-md-4">
					<h3 class="d-inline blue">Issue 1</h3>
					<br>
				</div>
				
				<div class="col-md-8">
					<div style="float: right;">

						<span class="mr-4"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-flag-o" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-envelope-open" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-check" aria-hidden="true"></i></span>

						<button style=" height: 25px; width: 25px; " class="btn open btn-circle btn-circle-sm mr-4" (click)="screenMode()"> 
							
							<i *ngIf="conditionFlag"
								class="fa fa-arrow-left" aria-hidden="true" style="color: #fff;
								font-size: 14px; top: -4px;"></i>

<i *ngIf="!conditionFlag"
class="fa fa-arrow-right" aria-hidden="true" style="color: #fff;
font-size: 14px; top: -4px;"></i>
								
							</button>

<span class="mr-4" (click)="screenMode1(sidenav)"> <i class="fa fa-times" aria-hidden="true"></i></span>
						
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Issue Title</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							
<p>
	{{specificIssueForSpecificUserResponse.issueName}}
</p>





						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-12 mt-3">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Details</mat-card-title>
						</mat-card-header>
						<mat-card-content>
						<p>
							{{specificIssueForSpecificUserResponse.issueDetails}}
						</p>






						</mat-card-content>
					</mat-card>
				</div>

				<div class="col-md-12 mt-3">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Attachment</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<p>{{specificIssueForSpecificUserResponse.issueAttachments}}</p>






						</mat-card-content>
					</mat-card>
				</div>

			</div>
		</div>
		<div [ngClass]="{'hideTwo' : conditionFlag, 'col-md-7' : !conditionFlag }" style=" margin-top: 2.4em; ">

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Issue raised by</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								

<p>{{specificIssueForSpecificUserResponse.issueRaisedBy}}</p>




							</mat-card-content>
						</mat-card>

					</div>
					<div class="col-md-6">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Info</mat-card-title>
							</mat-card-header>
							<mat-card-content>
						

<p>{{specificIssueForSpecificUserResponse.issueInfo}}</p>




							</mat-card-content>
						</mat-card>

					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Problem Faced</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								



<p>{{specificIssueForSpecificUserResponse.issueProblemFaced}}</p>


							</mat-card-content>
						</mat-card>
						


					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Solution proposed</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								

<p>{{specificIssueForSpecificUserResponse.issueSolutionProposed}}</p>


							</mat-card-content>
						</mat-card>
						
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Other Information</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								

<p>{{specificIssueForSpecificUserResponse.issueOtherInformation}}</p>


								
							</mat-card-content>
						</mat-card>
						
					</div>
				</div>


			</div>
		</div>
	</div>
</mat-sidenav>
<mat-tab-group>
	<mat-tab label="My Issues">
		<div class="row">
			<div class="col-sm-9">
				<div class="btn-toolbar">					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="pull-right">
	
					<button class="btn done btn-circle btn-circle-sm m-1">30<i> done</i></button>
					<button class="btn inprogress btn-circle btn-circle-sm m-1">15<i> inprogress</i></button>
					<button class="btn add btn-circle btn-circle-lg m-1" (click)="openDialog()"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-sm-10">
				<button type="button" class="btn btn-link"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-share-square-o"
						aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-user-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-plane" aria-hidden="true"></i></button>
			</div>
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="search"
						aria-label="Text input with dropdown button">
					<div class="input-group-btn">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">

						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
				<td mat-cell *matCellDef="let element"> {{element.position}} </td>
			</ng-container>

			
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Name </th>
				<td mat-cell *matCellDef="let element" (click)="sidenav.toggle()"> {{element.name}} </td>
			</ng-container>

		
			<ng-container matColumnDef="Due">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
				<td mat-cell *matCellDef="let element"> {{element.Due}} </td>
			</ng-container>

	
			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
				<td mat-cell *matCellDef="let element">

					<button mat-raised-button style="width: 40%; color: white;" [ngStyle]="element.status==='closed'?{'background-color': '#F90000'} : {'background-color': '#05C700'}" (click)="ondelete(row.productID)" type="button">
					  {{element.status}}
					</button>

				</td>
			</ng-container>

			<ng-container matColumnDef="Actions">
				<th mat-header-cell *matHeaderCellDef> Actions </th>
				<td mat-cell *matCellDef="let row">
					<div class="button-toobar">
						<button class="btn btn-link btn-sm" (click)="openDialog1()" type="button">
							<i class="fa fa-edit"></i>
						</button>
						<button class="btn btn-link btn-sm" (click)="onCloneclick(row.productID)" type="button">
							<i class="fa fa-plane"></i>
						</button>
						<button class="btn btn-link btn-sm" (click)="ondelete(row.productID)" type="button">
							<i class="fa fa-trash alt"></i>
						</button>
						<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
						</mat-menu>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
			</tr>
		</table>

		<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

	</mat-tab>

	<mat-tab label="All Issues">

		<div class="row">
			<div class="col-sm-10">
				<button type="button" class="btn btn-link"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-share-square-o"
						aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-user-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-link"><i class="fa fa-plane" aria-hidden="true"></i></button>
			</div>
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="search"
						aria-label="Text input with dropdown button">
					<div class="input-group-btn">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">

						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle1() : null"
						[checked]="selection.hasValue() && isAllSelected1()"
						[indeterminate]="selection.hasValue() && !isAllSelected1()" [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
				<td mat-cell *matCellDef="let element"> {{element.position}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Name </th>
				<td mat-cell *matCellDef="let element" (click)="sidenav.toggle()"> {{element.name}} </td>
			</ng-container>
			<ng-container matColumnDef="Due">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
				<td mat-cell *matCellDef="let element"> {{element.Due}} </td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
				<td mat-cell *matCellDef="let element">

					<button mat-raised-button style="width: 40%; color: white;" [ngStyle]="element.status==='closed'?{'background-color': '#F90000'} : {'background-color': '#05C700'}" (click)="ondelete(row.productID)" type="button">
					  {{element.status}}
					</button>

				</td>
			</ng-container>

			

			<tr mat-header-row *matHeaderRowDef="displayedColumnsAllIssues"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsAllIssues;" (click)="selection.toggle(row)">
			</tr>
		</table>

		<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

		


	</mat-tab>

</mat-tab-group> -->






































































































<mat-sidenav position="end" #sidenav [mode]="over"
	[ngClass]="{'customWidth1' : conditionFlag, 'customWidth2' : !conditionFlag }">
	<div class="row">
		<div [ngClass]="{'col-md-12' : conditionFlag, 'col-md-5' : !conditionFlag }">
			<div class="row">
				<div class="col-md-4">
					<h3 class="d-inline blue">Issue 1</h3>
					<br>
				</div>
				
				<div class="col-md-8">
					<div style="float: right;">

						<span class="mr-4"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-flag-o" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-envelope-open" aria-hidden="true"></i></span>

						<span class="mr-4"> <i class="fa fa-check" aria-hidden="true"></i></span>

						<button style=" height: 25px; width: 25px; " class="btn open btn-circle btn-circle-sm mr-4" (click)="screenMode()"> 
							
							<i *ngIf="conditionFlag"
								class="fa fa-arrow-left" aria-hidden="true" style="color: #fff;
								font-size: 14px; top: -4px;"></i>

<i *ngIf="!conditionFlag"
class="fa fa-arrow-right" aria-hidden="true" style="color: #fff;
font-size: 14px; top: -4px;"></i>
								
							</button>

<span class="mr-4" (click)="screenMode1(sidenav)"> <i class="fa fa-times" aria-hidden="true"></i></span>
						
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Issue Title</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							






						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-12 mt-3">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Details</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							







						</mat-card-content>
					</mat-card>
				</div>

				<div class="col-md-12 mt-3">
					<mat-card class="example-card">
						<mat-card-header>
							<mat-card-title class="blue fs-16">Attachment</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							






						</mat-card-content>
					</mat-card>
				</div>

			</div>
		</div>
		<div [ngClass]="{'hideTwo' : conditionFlag, 'col-md-7' : !conditionFlag }" style=" margin-top: 2.4em; ">

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Issue raised by</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								






							</mat-card-content>
						</mat-card>

					</div>
					<div class="col-md-6">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Info</mat-card-title>
							</mat-card-header>
							<mat-card-content>
						






							</mat-card-content>
						</mat-card>

					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Problem Faced</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								






							</mat-card-content>
						</mat-card>
						


					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Solution proposed</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								




							</mat-card-content>
						</mat-card>
						
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<mat-card class="example-card">
							<mat-card-header>
								<mat-card-title class="blue fs-16">Other Information</mat-card-title>
							</mat-card-header>
							<mat-card-content>
								




								
							</mat-card-content>
						</mat-card>
						
					</div>
				</div>


			</div>
		</div>
	</div>
</mat-sidenav>
<mat-tab-group>
	<mat-tab label="My Donations">
		<div class="row">
			<div class="col-sm-9">
				<div class="btn-toolbar">					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="pull-right">
	
					<button class="btn done btn-circle btn-circle-sm m-1">30<i> done</i></button>
					<button class="btn inprogress btn-circle btn-circle-sm m-1">15<i> open</i></button>
				</div>
			</div>
		</div>
		<hr>
		
		<div class="row">
			
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="search"
						aria-label="Text input with dropdown button">
					<div class="input-group-btn">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">

						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
				<td mat-cell *matCellDef="let element"> {{element.position}} </td>
			</ng-container>

			
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Name </th>
				<td mat-cell *matCellDef="let element" (click)="sidenav.toggle()"> {{element.name}} </td>
			</ng-container>

		
			<ng-container matColumnDef="Due">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
				<td mat-cell *matCellDef="let element"> {{element.Due}} </td>
			</ng-container>

	
			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
				<td mat-cell *matCellDef="let element">

					<button mat-raised-button style="width: 40%; color: white;" [ngStyle]="element.status==='closed'?{'background-color': '#F90000'} : {'background-color': '#05C700'}" (click)="ondelete(row.productID)" type="button">
					  {{element.status}}
					</button>

				</td>
			</ng-container>

			<ng-container matColumnDef="Actions">
				<th mat-header-cell *matHeaderCellDef>  </th>
				<td mat-cell *matCellDef="let row">
					<div class="button-toobar">
						<button class="btn btn-link btn-sm" (click)="openDialog1()" type="button">
							<i class="fa fa-edit"></i>
						</button>
						<mat-menu #menu="matMenu">
						</mat-menu>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
			</tr>
		</table>

		<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

	</mat-tab>

	<mat-tab label="All Issues">

		<div class="row">
			<div class="col-sm-9">
				<div class="btn-toolbar">					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="pull-right">
	
					<button class="btn done btn-circle btn-circle-sm m-1">30<i> done</i></button>
					<button class="btn inprogress btn-circle btn-circle-sm m-1">15<i> open</i></button>
				</div>
			</div>
		</div>
		<hr>
		
		<div class="row">
			
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="search"
						aria-label="Text input with dropdown button">
					<div class="input-group-btn">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">

						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
			
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
				<td mat-cell *matCellDef="let element"> {{element.position}} </td>
			</ng-container>

			
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Name </th>
				<td mat-cell *matCellDef="let element" (click)="sidenav.toggle()"> {{element.name}} </td>
			</ng-container>

		
			<ng-container matColumnDef="Due">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
				<td mat-cell *matCellDef="let element"> {{element.Due}} </td>
			</ng-container>

	
			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
				<td mat-cell *matCellDef="let element">

					<button mat-raised-button style="width: 40%; color: white;" [ngStyle]="element.status==='closed'?{'background-color': '#F90000'} : {'background-color': '#05C700'}" (click)="ondelete(row.productID)" type="button">
					  {{element.status}}
					</button>

				</td>
			</ng-container>

			<ng-container matColumnDef="Actions">
				<th mat-header-cell *matHeaderCellDef>  </th>
				<td mat-cell *matCellDef="let row">
					<div class="button-toobar">
						<button class="btn btn-link btn-sm" (click)="openDialog1()" type="button">
							<i class="fa fa-edit"></i>
						</button>
						<mat-menu #menu="matMenu">
						</mat-menu>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
			</tr>
		</table>

		<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

		


	</mat-tab>

</mat-tab-group> 